div.content {
	min-height: 400px;
}

div.image img{
	width: 300px;
}

div.video video{
	width: 300px;
}
table th{
	color: white;
	background-color: black;
	
}

/* https://www.ucamc.com/e-learning/css/420-table-rwd */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}